@font-face {
  font-family: "SourceSans3";
  src: src: url("/fonts/WOFF2/SourceSans3-Regular.otf.woff2") format('woff');
}

@font-face {
  font-family: "SourceSans3";
  src: src: url("/fonts/WOFF2/SourceSans3-Semibold.otf.woff2") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "SourceSans3";
  src: src: url("/fonts/WOFF2/SourceSans3-SemiboldIt.otf.woff2") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3";
  src: src: url("/fonts/WOFF2/SourceSans3-It.otf.woff2") format('woff');
  font-style: light;
}

:root {
    --md-text-font: "SourceSans3";
    --md-accent-fg-color: #666666;
    --md-accent-font-color: #666666;
}

.md-grid {
  max-width: 1024px; 
}

.md-header--shadow {
    box-shadow: none;
}


.md-typeset h1 {
    line-height:  1;
    margin: 0px;
}

h2 {
    color:  var(--md-accent-font-color);
    border-top:  var(--md-accent-font-color) thin solid;
    border-bottom:  var(--md-accent-font-color) thin solid;
}

.blog-post-preview {
    border-left:  var(--md-accent-font-color) thin solid;
    padding-left:  10px;
    margin-top:  10px;
    margin-bottom: 24px;
    font-size: 0.9em;
}

aside.blog-post-aside {
    /*border-top:  var(--md-accent-font-color) thin solid;*/
    /*margin-top:  24px;*/
    /*padding-top:  12px;*/
}

div.contact_spacer {
    display:  block;
    height:  20px;
}

h3.title_news {
    margin-top:  10px;
    margin-bottom:  0px;
}

div.tabbed-set {
    background-color:  #fafafa;
}

.tabbed-content {
    padding:  5px;
}

li li {
    list-style-type: circle;
}

li li li {
    list-style-type: "–";
    font-size: 0.9em;
}

.mermaid {
  display: flex;
  justify-content: center;
}

