{% extends "base.html" %}

{% block content %}
  {{ page.content }}
  {% set contacts_pages = [] %}
    {% for this_file in pages %}
      {% set this_page = this_file.page %}
      {% if this_page.meta is defined %} 
        {% if this_page.url.startswith(config.extra.contacts.dir) %}
          <!-- avoiding integration of the index page -->
          {% if not this_page.url.endswith(config.extra.contacts.dir+"/") %}
            {{ contacts_pages.append( this_page ) or "" }}
          {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

<h2 class="contacts_section">Contacts</h2>

  {% for page in contacts_pages %}
    {% if not page.meta.is_gone %}
      {% include "partials/blog_contact.html" %}
    {% endif %}
  {% endfor %}

<h2>Alumni and Former Visitors</h2>

  {% for page in contacts_pages %}
    {% if page.meta.is_gone %}
      {% include "partials/blog_contact.html" %}
    {% endif %}
  {% endfor %}

{% endblock %}
