<div class="blog-post-preview">
{% include "partials/date_separator.html" %}
<h3 class="title_news">{{ post_page.title }}</h3>
      {% if post_page.meta.description is defined %}
<h5 class="title_news">{{ post_page.meta.description }}</h5>
      {% endif %}
<!-- Use a hidden p tag to provide a preview -->
      {{ post_page.content.split(config.extra.excerpt_separator, 1)[0] }}
<a href="/{{ post_page.url }}">
  <span class="twemoji">
      {% include ".icons/octicons/arrow-right-24.svg" %}
  </span>
  Continue reading
</a>
</div>
