{% extends "base.html" %}

--------------------------------------------------------------------------------
The list page will process individual pages which:

* have a match of the list page's `page.meta.path_element` in their url
    - alternatively the last path element of the calling page will be used
    - this is accessed through `page.url.split('/')[-2]` since the `-1` would
      be the page file name or empty (index page)
* have "post.html" in their `meta.template`

--------------------------------------------------------------------------------

{% block content %}

  {{ page.content }}
  {% set path_element = page.url.split('/')[-2] %}
  {{path_element}}
  {% if page.meta.path_element is defined %}
    {% set path_element = page.meta.path_element %}
  {% endif %}

  {% set news_posts = [] %}
  
  {% for this_file in pages %}
    {% set this_page = this_file.page %}
    {% if this_page.meta is defined %}
      {% if this_page.meta.template is defined %}   
        {% if path_element in this_page.url and "post" in this_page.meta.template %}
          {{ news_posts.append( this_page ) or "" }}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for post_page in (news_posts|sort(attribute="url"))[:config.extra.blog_list_length] %}
    {% include "partials/post_preview.html" %}
  {% endfor %}

{% endblock %}
